$spacing-step: (20) !default;
$n: (2) !default;

@for $i from 0 through $spacing-step {
  .m-#{$i} {
    margin: $i * $n + px $i * $n + px $i * $n + px $i * $n + px;
  }
  .mt-#{$i} {
    margin-top: $i * $n + px;
  }
  .mr-#{$i} {
    margin-right: $i * $n + px;
  }
  .mb-#{$i} {
    margin-bottom: $i * $n + px;
  }
  .ml-#{$i} {
    margin-left: $i * $n + px;
  }
  .mlr-#{$i} {
    margin-left: $i * $n + px;
    margin-right: $i * $n + px;
  }
  .p-#{$i} {
    padding: $i * $n + px $i * $n + px $i * $n + px $i * $n + px;
  }
  .pt-#{$i} {
    padding-top: $i * $n + px;
  }
  .pr-#{$i} {
    padding-right: $i * $n + px;
  }
  .pb-#{$i} {
    padding-bottom: $i * $n + px;
  }
  .pl-#{$i} {
    padding-left: $i * $n + px;
  }
  .plr-#{$i} {
    padding-left: $i * $n + px;
    padding-right: $i * $n + px;
  }
}
