mixin header()
  header(class="header")
    .header-left Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis et ex facere fugit omnis pariatur quos recusandae sunt ullam, voluptates? Accusamus asperiores at beatae consequatur est impedit quas quia tempore!
    .header-right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci delectus impedit nesciunt obcaecati quas saepe! Dignissimos ea iure quae quos soluta tempore! Aut deleniti explicabo in minima quasi quo.